<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="/"><img src="../../assets/logo/home-control-24.png" alt=""> IDOINCENTER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto"></div>
            <div class="me-auto mb-2 mb-lg-0">
                <!-- <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="getData()">
                    <input class="form-control mr-sm-2" formControlName="search" type="search" placeholder="Search" aria-label="Search">
                </form> -->
            </div>
            <div class="nav-item">
                <!-- <a class="nav-link" (click)="goToCart()"><i class="fa-solid fa-cart-shopping"></i></a> -->
            </div>
            <div class="nav-item dropdown-mb">
                <a class="nav-link" href="" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img appBrokenImg [defaultImage]="'../../assets/images/undraw_pic_profile_re_i9i4.svg'" class="img-profile" src="" alt="">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">Setting</a>
                    <!-- <a class="dropdown-item" (click)="logout()">Logout</a> -->
                </div>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link" href="" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img appBrokenImg [defaultImage]="'../../assets/images/undraw_pic_profile_re_i9i4.svg'" class="img-profile" src="" alt="">
            </a>
            <div class="dropdown-menu dp" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item">Setting</a>
                <!-- <a class="dropdown-item" (click)="logout()">Logout</a> -->
            </div>
        </div>
    </div>
</nav>