<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Powered by<a href="/" class="ms-2 me-2">IDOINCENTER</a>© 2022 IDOIN, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img appBrokenImg [defaultImage]="''" src="../../assets/logo/home-control-32.png" class="bi me-2" alt="">
        </a>
        <div class="nav col-md-4 justify-content-end">
            Developed by <a href="https://github.com/Teelakreiste" class="ms-2 me-2">Teelakreiste</a>, 
            <a href="https://github.com/KarenMercado" class="ms-2 me-2">Karen Mercado</a>
            & <a href="https://github.com/12valencia" class="ms-2 me-2">Valentina Valencia</a>
        </div>
    </footer>
</div>