.container-inline {
    display: flex;
}

h3 {
    margin-top: 0;
    color: #479677;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#none {
	background-color: transparent;
	border: none;
}

a:hover {
	cursor: pointer;
}

.fa-solid {
    padding-top: 30px;
    padding-left: 30px;
    color: #275987;
    margin: 0 10px;
}

.fa-solid:hover {
    color: #9FBACE;
    cursor: pointer;
}

.fa-solid.fa-arrow-left {
    margin-top: 25px;
    padding-top: 0;
    padding-left: 0;
    color: #fff;
}

.flex-div {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.flex-tittle {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.back {
    width: 40px;
    background: #275987;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
}

.back:hover {
    background: #4b86be;
    color: #275987;
    transition: .5s;
}

.back:hover > .fa-solid.fa-arrow-left {
    color: #275987;
}

.btn.back {
    margin: 0px auto 10px 10px;
    padding: 10px 12px 8px 6px;
}