h3 {
    margin-top: 0;
    color: #479677;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#none {
	background-color: transparent;
	border: none;
}

a:hover {
	cursor: pointer;
}

.fa-solid {
    padding-top: 30px;
    padding-left: 30px;
    color: #275987;
    margin: 0 10px;
}

.fa-solid:hover {
    color: #9FBACE;
    cursor: pointer;
}