<div class="container image-background">
    <img src="../../assets/images/undraw_feeling_blue_-4-b7q1.svg" alt="">
    <div class="container-inside">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a routerLink="" href="" class="btn btn-primary btn-lg"><span class="fa-solid fa-house"></span>
                            Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>