
.container {
    margin-top: 40px;
}
.main-body {
    padding: 15px;
}

.nav-link {
    color: #4a5568;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
	background-color: #fff !important;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #56B38F;
}

.img-file {
    width: 300px;
    height: 300px;
	margin-bottom: 5px;
    border-radius: 10px;
}

.fa-solid {
    color: #275987;
    margin: 0 10px;
}

.fa-solid:hover {
    color: #9FBACE;
    cursor: pointer;
}

.fa-solid.fa-arrow-left {
    color: white;
}

.back { /*Minimal button back*/
	background-color: #275987;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}

.back:hover {
	background-color: #9FBACE;
	color: #275987;
}

.back:hover > .fa-solid.fa-arrow-left {
	color: #275987;
}

a:hover {
	cursor: pointer;
}

.form {
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.form-label {
	color: #45a580;
	transition: .3s;
    margin: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.form-label:hover {
	color: #56B38F;
}

.form-control {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	box-shadow: 1px 1px 5px #56B38F;
	border: 2px solid transparent;
	border-radius: 12px;
	padding: 0 30px 0 10px;
	transition: .3s ease all;
	color: #928c8c;
}

.form-control:focus {
	border: 3px solid #CCE2ED;
	outline: none;
}

.field-icon {
	float: right;
	margin-left: -30px;
	margin-top: -30px;
	margin-right: 9px;
	font-size: small;
	position: relative;
	color: #CCE2ED;
	z-index: 2;
}

.btn {
	border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #45a580, #69cfa8, #45a580);
	background-size: 200%;
	font-size: .8rem;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}

.btn.btn-light {
	margin-left: 15px;
	background-image: linear-gradient(to right, #CCE2ED, #fff, #CCE2ED);
	color: #45a580;
}

.btn.btn-danger {
	background-image: linear-gradient(to right, #721c24, #b8323f, #721c24);
}

.form-check-input {
    background-color: #9FBACE;
}

.form-check-input[type="checkbox"]:checked {
    background-color: #56B38F;
}

.form-switch .form-check-input:checked[type=checkbox]:after {
    background-color: #56B38F;
}

.form-check-input[type=checkbox]:focus:after {
    background-color: #9FBACE !important;
}

.form-check-label {
    font-weight: bold;
    color: #9FBACE;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0;
}

.container-error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container-error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media screen and (max-width: 770px){
    .header {
        display: none;
    }
}

@media screen and (max-width: 910px){
    .img-file {
        width: 300px;
        height: 300px;
    }
}