<div class="minimal">
    <app-header></app-header>
    <div class="container">
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <img appBrokenImg [defaultImage]="'../../assets/images/undraw_page_404_re_e9o6.svg'" src="{{products.image}}">
        </div>
    
        <!-- Right Column -->
        <div class="right-column">
            <!-- Product Description -->
            <div class="product-description">
                <a (click)="back()"><i class="fa-solid fa-arrow-left"></i></a>
                <span>{{products.category}} - {{products.manufacturer}}</span>
                <h1>{{products.name}}</h1>
                <p>{{products.description}}</p>
            </div>
    
            <!-- Product Configuration -->
            <div class="product-configuration">
                <!-- Product Color -->
                <div class="product-info">
                    <span>Stock: <strong>{{products.stock}}</strong> uds<br></span>
                    <span>Quantity: <strong>
                        <form [formGroup]="quantityForm" (ngSubmit)="submit()">
                            <input formControlName="quantity" type="number" class="form-control" min="1" value="1" name="quantity">
                            <div class="alert-danger" *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
                                <div class="container-error-message" *ngIf="quantity.errors?.['required']">
                                    <span class="error-message">Quantity is required</span>
                                </div>
                            </div>
                            <button [disabled]="!quantityForm.valid" type="submit" id="btn-add" #addCart></button>
                        </form>
                    </strong> uds</span>
                </div>
            </div>
    
            <!-- Product Pricing -->
            <div class="product-price">
                <span>$<strong>{{products.price}}</strong></span>
                <!-- <a class="cart-btn" (click)="addCart.click()">Add to cart</a> -->
                <a class="cart-btn card-btn-one">Buy</a>
                <a class="cart-btn card-btn-two" (click)="addCart.click()"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>